
.container{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%
}
.top {
	display: flex;
	flex-flow: row;
}
.top-left {
	flex: 1 1 50%;
	order: 1;
}
.top-right {
	flex: 1 1 50%;
	order: 2;
}
.footer{
	clear: both;
	margin: auto;
}

.grid-left{
	float: right;
	width: 64%;
	height: 50%;
}
.grid-right{
	float: left;
	width: 92%;
	height: 50%;
}
.grid-right .info{
	float: left;
	display: inline;
	width: 50%;
}

span#lastName{
	background-color: #42A1FF;
	padding-right: 3px;
	padding-bottom: 3px;
}

@media all and (min-width: 960px){

}

@media all and (min-width: 960px){